---
import { Image } from 'astro:assets';
import type { LocalImageProps } from 'astro:assets';

type ResourceImage = LocalImageProps['src'];

interface Props {
  title: string;
  description: string;
  image: ResourceImage;
  imageLoading?: 'eager' | 'lazy';
  primaryUrl: string;
  primaryLabel: string;
  secondaryUrl: string;
  secondaryLabel?: string;
}

const {
  title,
  description,
  image,
  imageLoading = 'lazy',
  primaryUrl,
  primaryLabel,
  secondaryUrl,
  secondaryLabel = 'View on GitHub',
} = Astro.props;
---

<article class="card subtle-fill-1 border-radius-2 font-size-md">
  <a
    class="card__media border-radius-2"
    href={primaryUrl}
    target="_blank"
    rel="noopener noreferrer"
  >
    <Image
      class="border-radius-2"
      src={image}
      alt={title}
      loading={imageLoading}
    />
  </a>

  <div class="card__body">
    <h2 class="h4">{title}</h2>
    <p>{description}</p>
  </div>

  <div class="card__foot font-size-sm text-color-link border-top padding-2">
    <ul class="grid grid--column-2--xl gap-2">
      <li>
        <a
          class="button width-100"
          href={primaryUrl}
          target="_blank"
          rel="noopener noreferrer"
          title={primaryLabel}
        >
          <span class="text">{primaryLabel}</span>
          <span class="icon icon-open-new" aria-hidden="true"></span>
        </a>
      </li>
      <li>
        <a
          class="button button--outline width-100"
          href={secondaryUrl}
          target="_blank"
          rel="noopener noreferrer"
          title={secondaryLabel}
        >
          <span class="text">{secondaryLabel}</span>
          <span class="icon icon-github" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
</article>
