---
import { exampleStyle } from '../shared/exampleStyles';
import ThemeCard from './ThemeCard.astro';
---

<figure class="margin-y-4">
  <div class="container narrow grid gap-3" style={exampleStyle}>
    <ThemeCard cardType="link" themeColor="Primary" border={false} />
    <ThemeCard cardType="link" themeColor="Secondary" border={false} />
    <ThemeCard cardType="link" themeColor="Dark" border={false} />
    <ThemeCard cardType="link" themeColor="Light" border={false} />
    <ThemeCard cardType="link" />
  </div>
</figure>
