---
import CodeBlock from '../CodeBlock/CodeBlock.astro';

interface IconModalItem {
  icon: string;
  className: string;
  tags: string[];
  svgCode: string;
}

interface Props {
  icons: readonly IconModalItem[];
}

const { icons } = Astro.props;

const getIconModalId = (className: string) => `icon-${className}-modal`;

const getIconCodeExample = (className: string) => `<!-- Icon Examples -->
<span class="icon icon-${className}"></span>

<a class="button button--icon-only" href="#1">
  <span class="icon icon-${className}" aria-hidden="true"></span>
</a>`;
---

{icons.map((icon) => (
  <div
    class="modal padding-2"
    id={getIconModalId(icon.className)}
    aria-hidden="true"
    data-modal-close-outside="true"
  >
    <div
      class="modal__content medium border-radius-2 box-shadow-3"
      aria-labelledby={`${getIconModalId(icon.className)}-title`}
      aria-describedby={`${getIconModalId(icon.className)}-content`}
      role="dialog"
      aria-modal="true"
    >
      <header class="modal__content__head border-bottom">
      
        <h2 class="h6" id={`${getIconModalId(icon.className)}-title`}>
          {icon.icon}
        </h2>

        <button class="button button--icon-only font-size-md" type="button" data-modal-close>
          <span class="icon icon-close" aria-hidden="true"></span>
        </button>
      </header>

      <main class="modal__content__body flex-grow-1" id={`${getIconModalId(icon.className)}-content`}>
        <div class="text-align-center margin-y-3">
          <svg
            class="icon-modal__preview"
            viewBox="0 0 24 24"
            width="12rem"
            height="12rem"
            aria-hidden="true"
            set:html={icon.svgCode}
          />
        </div>

        <CodeBlock
          codeLanguage="html"
          code={getIconCodeExample(icon.className)}
        />

        <p class="font-size-sm margin-bottom-0">
          <strong>Tags:</strong>
          {icon.tags.map((tag) => (
            <span class="margin-left-1">{tag}</span>
          ))}
        </p>
      </main>

      <footer class="modal__content__foot border-top">
        <ul class="grid grid--column-2--md gap-2 font-size-md text-color-link">
          <li>
            <a
              class="button width-100"
              href={`/icons/svg/${icon.className}.svg`}
              download
            >
              <span class="icon icon-file-download" aria-hidden="true"></span>
              <span class="text">Download SVG</span>
            </a>
          </li>
          <li>
            <a class="button width-100" href="/docs/icon/">
              <span class="text">Using the Icons</span>
              <span class="icon icon-arrow-right" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </div>
))}

<style>
  .icon-modal__preview {
    max-inline-size: 100%;
  }
</style>
