---
import CodeBlock from '../CodeBlock/CodeBlock.astro';

interface LineAnnotation {
  range: string;
  label?: string;
}

type InlineMarkerDefinition = string | RegExp;

interface Props {
  figureNumber?: string | number;
  figureWidth?: string;
  visualExampleClass?: string | null;
  showCodeFrame?: boolean;
  codeLanguage?: string;
  code?: string | null;
  highlightedLines?: string | null;
  markedText?: InlineMarkerDefinition | InlineMarkerDefinition[] | null;
  lineAnnotations?: LineAnnotation[];
  showLineNumbers?: boolean | null;
  hideFigCaption?: boolean;
}

const {
  figureNumber = null,
  figureWidth = 'medium--lg',
  visualExampleClass = null,
  showCodeFrame = true,
  codeLanguage = 'html',
  code = null,
  highlightedLines = null,
  markedText = null,
  lineAnnotations = [],
  showLineNumbers = null,
  hideFigCaption = false,
} = Astro.props;

const hasVisualExample = Astro.slots.has('default');
const figureId = figureNumber ? `figcaption_${figureNumber}` : undefined;
---

<div
  class="container margin-y-5"
  aria-labelledby={figureId}
>
  <figure
    class:list={[
      'example',
      'example--code',
      figureWidth,
      'margin-x-auto',
      'border-radius-2',
      'box-shadow-2',
    ]}
  >
    {hasVisualExample ? (
      <div class="example__visual overflow-hidden">
        <div class:list={['padding-y-5', visualExampleClass]}>
          <div class="container narrow">
            <slot />
          </div>
        </div>

        <CodeBlock
          codeId={figureNumber ? `code_${figureNumber}` : null}
          highlightedLines={highlightedLines}
          markedText={markedText}
          lineAnnotations={lineAnnotations}
          showLineNumbers={showLineNumbers}
          showCodeFrame={showCodeFrame}
          codeLanguage={codeLanguage}
          code={code}
        />
      </div>
    ) : (
      <CodeBlock
        codeId={figureNumber ? `code_${figureNumber}` : null}
        highlightedLines={highlightedLines}
        markedText={markedText}
        lineAnnotations={lineAnnotations}
        showLineNumbers={showLineNumbers}
        showCodeFrame={showCodeFrame}
        codeLanguage={codeLanguage}
        code={code}
      />
    )}

    {figureNumber !== null && !hideFigCaption && (
      <figcaption id={figureId} class="container margin-bottom-2 example__caption">
        Figure {figureNumber}
      </figcaption>
    )}
  </figure>

</div>
