---
import { Image } from 'astro:assets';
import { exampleStyle } from '../shared/exampleStyles';
import imageThumbnail from './images/eberhard-grossgasteiger-yF9Tm4qrYmM-unsplash.jpg';
import videoThumbnail from './images/pexels-dmitry-varennikov-5527699-thumbnail.jpg';

const videoSrc = '/docs-assets/video/pexels-dmitry-varennikov-5527699-1080p.mp4';
---

<div class="grid grid--column-2 gap-2" style={exampleStyle}>
  <figure>
    <button
      class="lightbox-thumbnail"
      data-lightbox="image"
      data-lightbox-src={imageThumbnail.src}
      data-lightbox-caption="A full moon behind mountains"
    >
      <Image src={imageThumbnail} alt="A full moon behind mountains" />
    </button>
    <figcaption>
      <p>
        Photo by{' '}
        <a href="https://unsplash.com/@eberhardgross?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
          eberhard grossgasteiger
        </a>{' '}
        on{' '}
        <a href="https://unsplash.com/photos/DhYErfw33CE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
          Unsplash
        </a>
      </p>
    </figcaption>
  </figure>

  <figure>
    <button
      class="lightbox-thumbnail"
      data-lightbox="video"
      data-lightbox-src={videoSrc}
      data-lightbox-caption="A beautiful moonrise time-lapse"
    >
      <Image src={videoThumbnail} alt="A beautiful moonrise time-lapse" />
    </button>
    <figcaption>
      <p>
        Video by{' '}
        <a href="https://www.pexels.com/video/beautiful-full-moonrise-time-lapse-5527699/">
          Dmitry Varennikov
        </a>{' '}
        from Pexels:
      </p>
    </figcaption>
  </figure>
</div>
